/* Genérico */

body {
    font-family: 'Epilogue', sans-serif;
    color: #0b090a;
}

.btn {
    padding: 20px 40px;    
    color: #ffffff;        
    text-transform: uppercase;
    font-size: 1rem;  
    
    display: flex;
    align-items: center;
    gap: 12px;
}

.btn-small {
    padding: 12px 24px;
    font-size: 0.9rem;
    
}

.btn-primary {
    background-color: #e5383b;
}

.btn-primary:hover {
    background-color: #ba181b;
}

.btn-outline {
    border: 2px solid #ffffff;
    background-color: transparent;
}

.btn-outline:hover {
    border-color: #d9d9d9;
    color: #d9d9d9;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.overtitle {
    color: #e5383b;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.title {
    font-size: 44px;
    line-height: 56px;
    font-weight: 700;
}

/* Layout */

#header-container{
    background-color: #0b090a;
}

.header {
    color: #ffffff;
    padding: 24px 72px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
}

/* Hero Section */

#hero-container {
    background-color: #0b090a;
    color: #ffffff;  
    padding: 0 72px;  
}

.hero{
    display: flex;
    align-items: center;
    gap: 32px;
}

.hero-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding: 96px 0;
}

.hero-img {
    flex: 1;
    align-self: flex-end;
}

.hero-img img {
    max-width: 100%;

}

.hero-text__title {
    font-size: 56px;
    line-height: 64px;
    font-weight: 700;
}

.hero-text__subtitle {
    font-size: 20px;
    line-height: 28px;
    max-width: 520px;
 }

 /* Services Section */

 #services-container {
    padding: 25px 72px;
 }


 .services-list {
    margin-top: 48px;
    display: flex;
    gap: 50px;
 }

 .service-card {
    background-color: #f5f3f4;
    border: 2px solid #d3d3d3;
    
 }

 .service-card img {
    width: 100%;
 }

 .service-card__text {
    padding: 32px;
 }

 .service-card__text h3 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    margin-bottom: 8px;
 }

 
 .service-card__text p {
    font-size: 16px;
    line-height: 24px;
 }


 /* Location Section */

 #location-container {
    background-color: #f5f3f4;
    
 }

 #location-container .location {
    padding: 96px 72px 48px;
 }

 #location-container address {
        display: flex;
        align-items: center;
        gap: 12px;
} 

/* Footer */

footer {
    background-color: #0b090a;
    color:#ffffff;
    padding: 48px 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

footer a {
    color: currentColor;
}

.footer-logocopy {
  display: flex;
  flex-direction: column; 
  gap: 16px; 
}

@media screen and (max-width: 600px) {  

    .header {        
        padding: 25px 25px;          
    }  

    .hero{
        display: block;      
    }      

     .services-list {        
        display: block;        
        width: 100%;        
    }

    .service-card {        
        margin-top: 80px;
     }

     footer {       
        display: block;       
        align-items: center;   
    }
    footer div {
        margin-top: 30px;

    }
}